header
  h1 GHome
.box
  h1 Sensors
  table
    thead
      tr
        th Sensor
        th Value
    tbody
      - each s in sensors
        tr
          td= s.id
          td= s.val
.box
  h1 Rules
  ul
    li rule1
    ul
      li rule2
      ul
        li rule3
