mixin display(rules)
  each r in rules
    li Condition "#{r.name}"
    ul
      mixin display(r.children)

header
  h1 GHome
.box
  h1 Sensors
  table
    thead
      tr
        th Sensor
        th Value
    tbody
      each s in sensors
        tr
          td= s.name
          td= s.val
  #newsensor
    input(id="+sensor", type="button", value="+")
.box
  h1 Rules
  ul
    each r in rules
      li Rule "#{r.name}" is triggered by:
      ul
        mixin display(r.children)
    li#newrule
      input(id="+rule", type="button", value="+")
